<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="GET">
    {{ filter.form }}
    <button class="btn btn-primary">Найти</button>
</form>
{% for book in filter.qs %}
    {{ book.name }}
    {% if book.image %}
        <img width="70" src="{{ book.image.url }}" alt="partner_image">
    {% endif %}
    {% for author in book.authors.all %}
        {{ author.first_name }}
        {{ author.last_name }}
        {{ author.birthday_year }}
    {% endfor %}
    <br>
{% endfor %}
</body>
</html>